a,
button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  outline: none;
  text-decoration: none;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}
